<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="htw_berlin.de.mapmanager">

    <!-- To store graph data on external storage, so that it is accessible from others -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- To read graph data from external storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- To take pictures -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Christoph -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Still to take pictures -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".MainActivity" />
        <activity android:name=".POIDetailsActivity" />
        <activity android:name=".POIConnectionsActivity" />

        <!-- Sensor (Florian) activities -->
        <activity android:name=".compass.DefineEdgeActivity" />
        <!-- <activity android:name=".compass.StepCountActivity" /> -->
        <activity android:name=".compass.Compass2Activity" />

        <!-- WLAN (Christoph) activites -->
        <activity android:name=".wlan.WLANMainActivity" />
        <activity android:name=".prefs.SettingsActivity" />

        <receiver
            android:name=".wlan.WLANScanResultsReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".WhereAmIActivity" />

        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>